<a href="https://colab.research.google.com/github/HADO564/Learning/blob/main/SocialMediaModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Social_Network_Ads.csv")

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

We can see from the above code output that there are no null values in our dataset.

In [ ]:
X=df.drop(["User ID","Purchased","Gender"],axis=1)
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [ ]:
y=df["Purchased"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [ ]:

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler= StandardScaler()
X_train_norm=scaler.fit_transform(X_train)

X_test_norm=scaler.transform(X_test)

In [ ]:

model = LogisticRegression(max_iter=100)
model.fit(X_train_norm,y_train)
y_pred=model.predict(X_test_norm)

In [ ]:

accuracy_score(y_test,y_pred)

0.8625

In [ ]:
X.head()

   Age  EstimatedSalary  Gender_Male
0   19            19000            1
1   35            20000            1
2   26            43000            0
3   27            57000            0
4   19            76000            1

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures()
X_train_poly=poly.fit_transform(X_train_norm)
X_test_poly = poly.transform(X_test_norm)

In [ ]:
model.fit(X_train_poly,y_train)
y_pred=model.predict(X_test_poly)
accuracy_score(y_test,y_pred)

0.925